body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 1rem;
	color: gray;
}
h3 {
	font-size: 1.2rem;
	color: black;
}
.contentBox {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 0px;
	max-width: 1200px;
}
.main {
   position: relative;
   height: 550px;
   width: 100%;
   max-width: 350px;
   min-width: 330px;
   margin-bottom: 200px;
   }
.image {
	position: absolute;
	margin: auto;
	width: 100%;
}
.words {
	position: absolute;
	left: 5%;
	z-index: 5;
}
.buttonDiv {
	position: absolute;
	top: 85%;
	width: 100%;
	padding: 0px;
	margin-top: 10px;
	height: 70px;
}
.next {
	position: absolute;
	width: 15%;
	left: 75%;
	}
.next:hover {
	width: 16%;
}
.home {
	position: absolute;
	width: 15%;
	left: 5%;
	}
.home:hover {
	width: 16%;
}
.back {
	position: absolute;
	width: 15%;
	left: 45%;
	}
.back:hover {
	width: 16%;
}

/*page1 and page 2 have been swapped around*/

#p1text2, #p2text2 {
	top: 8%;
	left: 5%;
}
#p2text1 h3, #p1text1 h3{
	color: #49479D;
}

/*page1 text*/

#p2text3 {
	top: 25%;
	left: 45%;
}

#p2text3 h3{
	color: #a0262a;
	font-weight: bold;
}

#p2text4 {
	top: 36%;
	left: 85%;
}
#p2text5 {
	top: 38%;
	left: 12%;
}
#p2text6 {
	top: 51%;
	left:17%;
}
#p2text7 {
	top: 68%;
	left:5%;
}
#p2text8 {
	top: 71.5%;
	left:5%;
}

/*page 2 text*/

#p1text3 {
	top: 22%;
	left: 23%;
}
#p1text4 {
	top: 45%;
	left: 65%;
	color: black;
} 
#p1text5 {
	top: 45%;
	left: 30%;
	color: black;
}
#p1text6 {
	top: 50%;
	left: 45%;
	color: black;
}
#p1text7 {
	top: 35%;
	left: 35%;
}
#p1text8 {
	top: 30%;
	left: 55%;
}
#p1text9 {
	top: 58%;
	font-size: 0.9rem;
	left: 2%;
	background-color:rgba(255, 255, 255, 1);
    padding: 1%;	
}
#p1text9 p {
	margin: 0px;
}

/*text for page 3*/

#p3text2 {
	top: 0%;
}
#p3text1 {
	top: 13%;
	left: 20%;
}
#p3text3 {
	top: 20%;
	left: 25%;
}
#p3text4 {
	top: 33%;
	left: 27%;
}
#p3text5 {
	top: 45%;
	left: 29%;
}
#p3text6 {
	top: 57%;
	left: 29%;
}
#p3text7 {
	top: 70%;
	left: 5%;
}

/*text for page 4*/

#p4text1 {
	top: 16%;
	left: 20%;
}
#p4text2 {
	top: 46%;
	left: 20%;
}
#p4text3 {
	top: 66%;
	left: 20%;
}
#p4text4 {
	top: 58%;
	left: 50%;
}
#p4text5 {
	top: 68%;
	left: 80%;
}

/*text for page 5*/


#p5text1 {
	top: 30%;
	left: 20%;
}
#p5text2 {
	top: 12%;
	left: 20%;
}
#p5text3 {
	top: 23%;
	left: 59%;
}
#p5text4 {
	top: 47%;
	left: 55%;
}
#p5text5 {
	top: 64%;
	left: 75%;
}

/*text for page 6*/


#p6text1 {
	left: 45%;
}
#p6text2 {
	top: 33%;
	left: 50%;
}
#p6text3 {
	top: 50%;
	left: 30%;
}
#page6 {
	margin-bottom: 400px;
}

@media only screen and (min-width: 737px) {
	#p1text1, #p1text2, #forward1, #home2, #back3, #forward3, #home4, #back4, #back5, #forward5, #home6, #back6 {
		display: none;
	}
	#p2text1 h3{
		font-size: 1.5rem;
	}
}

@media only screen and (min-width: 1088px) {
	#forward2, #home3, #forward4, #home5, #p2text2 {
		display: none;
	}
	#p1text2 {
		display: block;
		color: black;
		font-weight: bold;
		top: 5%;
	}
	#p3text2 {
		top: 5%;
	}
	#p3text2 h3{
		font-size: 1rem;
	}
	.main {
		margin-bottom: -80px;
	}
	#p2text1 h3{
		font-size: 1.8rem;
	}
}





