body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 1rem;
	color: gray;
}
h3 {
	font-size: 1.2rem;
    color: black;
}
.contentBox {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	padding: 0px;
	border: 1px solid red;
}
.main {
   position: relative;
   height: 550px;
   width: 100%;
   max-width: 380px;
   margin-bottom: 200px;
   border: 1px solid blue;
   }
.image {
	position: absolute;
	margin: auto;
	width: 100%;
	border: 1px solid yellow;
}
.words {
	position: absolute;
	left: 5%;
	z-index: 5;
}
.buttonDiv {
	position: absolute;
	top: 85%;
	width: 100%;
	padding: 0px;
	margin-top: 10px;
	height: 70px;
	border: 1px solid red;
}
.next {
	position: absolute;
	width: 15%;
	left: 75%;
	}
.next:hover {
	width: 16%;
}
.home {
	position: absolute;
	width: 15%;
	left: 5%;
	}
.home:hover {
	width: 16%;
}
.back {
	position: absolute;
	width: 15%;
	left: 45%;
	}
.back:hover {
	width: 16%;
}
#p1text2, #p2text2 {
	top: 8%;
	left: 5%;
}
#p1text3 {
	top: 22%;
	left: 23%;
}
#p1text4 {
	top: 49%;
	left: 60%;
	color: black;
} 
#p1text5 {
	top: 45%;
	left: 27%;
	color: black;
}
#p1text6 {
	top: 54%;
	left: 42%;
	color: black;
}
#p1text7 {
	top: 35%;
	left: 30%;
}
#p1text8 {
	top: 29%;
	left: 45%;
}
#p2text3 {
	top: 30%;
	left: 45%;
	color: #A0262A;
}
#p2text4 {
	top: 36%;
	left: 85%;
}
#p2text5 {
	top: 41%;
	left: 12%;
}
#p2text6 {
	top: 50%;
	left:17%;
}
#p2text7 {
	top: 64%;
	left:5%;
}
#p2text8 {
	top: 68.5%;
	left:5%;
}
#p3text2 {
	top: 7%;
	left: 5%;
}
#p3text3 {
	top: 18%;
	left: 5%;
	font-size: 1.5rem;
	margin-right: 5%;
	margin-left: 5%;
}
#p3text4 {
	top: 30%;
	left: 5%;
	margin-right: 5%;
	margin-left: 5%;
	font-size: 1.5rem;
}
#p3text5 {
	top: 42%;
	left: 5%;
	margin-right: 10%;
	margin-left: 10%;
	font-size: 1.5rem;
}
#p3text6 {
	top: 54%;
	left: 5%;
	margin-right: 5%;
	margin-left: 5%;
	font-size: 1.5rem;
}
#p3text7 {
	top: 70%;
	left: 5%;
}
#p4text1 {
	top: 16%;
	left: 20%;
}
